@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Merriweather);


*, 
*:before, 
*:after {
   box-sizing:border-box; 
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
   text-align: center;
   color: #a8a8a8;
   text-shadow:1px 1px 0 rgba(white, 1);
}

form {
   max-width: 1000px;
   text-align: center;
   margin: 20px auto;
}
  input, textarea {
     border:0;
     outline:0;
     padding: 1em;
     border-radius:8px;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     box-shadow:0 1px 1px rgba(black, 0.1);
     resize: none;
  }
  
  #input-submit {
     color: white; 
     background: blue;
     cursor: pointer;
  }
  #input-submit:hover {
       box-shadow:0 1px 1px 1px rgba(#aaa, 0.6); 
    }
  
  #input-name {
    height: 65px;
  }
  textarea {
      height: 180px;
  }



.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}