<!DOCTYPE HTML><html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	 <title>ChatGPT & Spring demo</title>
	 <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Communication with ChatGPT</h1>
<form class="cf" th:action="@{/}" method="post">
	<div class="half left cf">
		<h4>The question</h4>
		<input type="text" id="input-name" placeholder="Question" name="prompt" th:value="${request}" required autofocus>
		<input type="submit" value="Send" id="input-submit">
	</div>
	<div class="half right cf">
		<h4 th:if="${response != null}" >The Response of ChatGPT</h4>
		<textarea name="message" type="text" id="input-message" placeholder="Response" th:if="${response != null}" th:text="${response}" ></textarea>
	</div>
</form>
</body>
</html>